<!-- Footer -->
<footer class="bg-dark text-center text-white d-none">
  <!-- Grid container -->
  <div class="container p-4">
    <p>
      Redes Sociales:
    </p>
    <!-- Section: Social media -->
    <section class="mb-3">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/JeremyJS-hub/ProyectoBdTWeb"
        role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->

    <section class="mb-3">
      <p>
        Contribuyentes:
      </p>
    </section>
    <!--<div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-md-4">
        <img src="/IMG/Perfil.jpg" style="width:30%" alt="..." class="rounded-circle">
        <h5 class="">Jeremy Michel Solano Frias</h5>
        <h6>(2018-6197)</h6>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-md-4">
        <img src="/IMG/Hardaway.jpg" style="width:22%" alt="..." class="rounded">
        <h5 class="">Hardaway Mercado Cerda</h5>
        <h6>(2018-6643)</h6>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-4">
        <img src="/IMG/Javier.jpg" style="width:30%" alt="..." class="rounded-circle">
        <h5 class="">Ricardo Lopez</h5>
        <h6>(2017-5320)</h6>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-4">
        <img src="/IMG/eric.jpg" style="width:30%" alt="..." class="rounded-circle">
        <h5 class="">Eric Alberto Ullola Merejo</h5>
        <h6>(2018-6340)</h6>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-md-4">
        <img src="/IMG/yonaiky.jpg" style="width:23%" alt="..." class="rounded">
        <h5 class="">Yonaiky Miguel Matos</h5>
        <h6>(2018-6056)</h6>
      </div>
    </div>-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: <p class="text-white">Grupo de Trabajo 4 - Programacion 3 - Prof. Willis Polanco - ITLA</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip({
    delay: { "show": 500, "hide": 100 }
  })
});
</script>
</html>
